body {
  background-image: url('images/background.png');
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 10px;
}
h2{
  color: lightcoral;
}
h3{
  color:gold;
}

h4 {
  color:midnightblue;
}
.left {
  display: flex;
  align-items: center;
}

.bit-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.bit-cost {
  font-size: 24px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade {
  display: flex;
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

.upgrade:hover {
  background-color: #eee;
}

.upgrade-img {
  width: 50px;
  height: 50px;
}

.mid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.cost-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.bit-img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.right-section {
  margin-left: auto;
}

.level {
  font-size: 24px;
}
